@model string

@if (ViewBag.OrderConfirmStatus)
{
    <div class="container col-12 pt-4">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center">Đặt hàng thành công!</h1>
            Thông tin đặt hàng của bạn: @ViewBag.OrderConfirmDetail <br /><br />
            <img src="~/images/logo.png" width="40%" />
        </div>
        <div class="col-12 text-center" style="color:maroon">
            <br />
            Đơn hàng của bạn đã được đặt thành công!<br />
        </div>
    </div>
}
else
{
    <div class="container row pt-4">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center">Đặt hàng không thành công!</h1>
            <img src="~/images/huan.jpg" width="65%" />
        </div>
        <div class="col-12 text-center" style="color:maroon">
            <br />
            Đơn hàng của bạn chưa được đặt thành công!<br />
        </div>
    </div>
}
